#post-it-container {
  position: relative;
  margin: 5px;
  width: 10em;
  height: 10em;
  z-index: 1;
  float:left;
}
#post-it-container {
  perspective: 0;
}
#post-it-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 500ms linear;
}
#post-it-container:hover #post-it-card {
  transform: rotateY(180deg);
  -moz-box-shadow: 2px 2px 9px rgba(194,194,194,.9);
-webkit-box-shadow: 2px 2px 9px rgba(194,194,194,.9);
box-shadow: 2px 2px 9px rgba(194,194,194,.9);
  cursor:pointer;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 5px;
  color: black;
  text-align: center;
  background-color: lightcyan;
  font-size:1em;
}

@font-face {
    font-family: font1;
    src: url(fonts/Italic.ttf);
}
@font-face {
    font-family: font2;
    src: url(fonts/ailerons.ttf);
}


div.strategy {
margin:0;
float: left;
color: #151515;
background: antiquewhite;
display: block;
height: 10em;
width: 10em;
padding: 1em;
font-family: font1;
text-align: center;
font-size: 1rem;
-moz-box-shadow: 2px 2px 9px rgba(194,194,194,.5);
-webkit-box-shadow: 2px 2px 9px rgba(194,194,194,.5);
box-shadow: 2px 2px 9px rgba(194,194,194,.5);
}

#post-its {width:560px;}

#post-its div#post-it-container:nth-child(1) {
  -o-transform:rotate(-5deg);
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  position:relative;
  top:-1px;
}
#post-its div#post-it-container:nth-child(even) {
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
}
#post-its div#post-it-container:nth-child(4n) {
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
}
#post-its div#post-it-container:nth-child(7n) {
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}

p.italic{
  font-family: font1;
}