<html>
{% extends "layout.html" %}
    {% block head %}{{ super() }}{% endblock %}
    {% block nav %}{{ super() }}{% endblock %}
{% block content %}
<body>
    <div class="container">
        <div class="table" id="card_table"></div>
        </div>
            <div class="container-fluid" id="prelist">
        <div class="row row-left" id="row">
           <div class="row divCard" style="cursor: pointer">
            <div class="col-sm-1">
                <div class="col-sm-10 board create" data-toggle="modal" data-target="#myModal2">
                    <ul>
                        <div style="color: white; font-size: larger; cursor:pointer"class="round-button"
                             data-dismiss="modal">
                            <div class="round-button-circle">Create new card</div>
                        </div>
                    </ul>
                </div>
            </div>

            <div class="container-fluid" id="tasks">
            <div class="row row-centered" id="rows">
                <div class="col-sm-2" id="new">new</div>
                <div class="col-sm-2" id="inprogress">in progress</div>
                <div class="col-sm-2" id="review">review</div>
                <div class="col-sm-2" id="done">done</div>
            </div>
            </div>

    <div class="container-fluid">
        <div class='divBoardHeader'></div>
        <div class="modal fade in" id="myModal3" role="dialog">
            <div class="modal-dialog modal-sm">
                <form>
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h1 class="modal-title">New card</h1>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label style="font-size:20px" for="cardTitle">Title:</label>
                                <textarea rows="1" type="text" class="form-control" id="cardTitle" autofocus></textarea>
                            </div>
                            <div class="form-group">
                               <label style="font-size:20px" for="cardContent">Content:</label>
                               <textarea rows="5" type="text" class="form-control" id="cardContent" autofocus></textarea>
                           </div>
                        </div>
                        <div class="modal-footer">
                             <ul>
                                <div type="submit"style="color: salmon; font-family:font2;font-size: xx-large;
                                    cursor:pointer"class="round-button" id="add_new_card" data-dismiss="modal">
                                    <div class="round-button-circle">
                                    Save
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>
                </form>
            </div>
        </div><br><br>
        </div>
    </div>
</body>
{% endblock %}