<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="#"><img style="max-width:80px; margin-top: -15px;"
             src="/static/pics/logo.png"></a>
      <a class="navbar-brand" href="#">Home</a>
        <a class="navbar-brand" href="#">My Boards</a>
        <a class="navbar-brand" href="#">Create new board</a>
    </div>
  </div>
</nav>